<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav pull-right">
            <a class="blog-nav-item active" href="#">Accueil</a>
            <a class="blog-nav-item" href="#">Ventes</a>
            <a class="blog-nav-item" ui-sref="rapports">Rapports</a>
            <a class="blog-nav-item" ui-sref="apropos">A propos</a>
        </nav>
    </div>
</div>
<div class="hidden-sm hidden-xs">
    <div class="container">
        <div class="navbar-header">
            <a ui-sref="/" class="logo">
                <img src="images/logo.png" alt=""/>
            </a>
        </div>
    </div>
</div>