<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav pull-right">
            <a class="blog-nav-item active" ui-sref="home">Accueil</a>
            <a class="blog-nav-item" href="#">Ventes</a>
            <a class="blog-nav-item" ui-sref="rapports">Rapports</a>
            <a class="blog-nav-item" ui-sref="apropos">A propos</a>
        </nav>
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Administration <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a ui-sref="clients">Clients</a></li>
                    <li><a ui-sref="categories">Catégories</a></li>
                    <li><a ui-sref="produits">Produits</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Utilisateurs</li>
                    <li><a ui-sref="profils">Profils</a></li>
                    <li><a ui-sref="users">Utilisateurs</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="hidden-sm hidden-xs">
    <div class="container">
        <div class="navbar-header">
            <a ui-sref="/" class="logo">
                <img src="images/logo.png" alt=""/>
            </a>
        </div>
    </div>
</div>