<div class="container">
    <div style="margin-bottom: 20px">
        <div>
            <!--Premiere partie : description de l'événement-->
            <div class="row" style="margin-top: 25px;">
                <div class="col-lg-12 col-sm-12 col-md-12 " style="border-bottom: 1px solid #c0a261; padding: 0">
                    <h2 style="text-align: center"><span class="number main"></span>
                        <ff translate>Produits</ff>
                    </h2>
                </div>
                <div class="clear-fix"></div>

                <div class="row">
                    <div class="col-lg-6 col-sm-6" style="margin-top: 20px">
                        <h4>Liste des catégories</h4>
                        <div class="form-group">
                            <div class="row-fluid">
                                <table class="table">
                                    <thead>
                                        <th>ID</th>
                                        <th>Intitulé</th>
                                        <th>Type</th>
                                        <th>Actions</th>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="c in categories|orderBy:'-intitule':true">
                                        <td>
                                            {{c.id}}
                                        </td>
                                        <td>
                                            {{c.intitule}}
                                        </td>
                                        <td>
                                            {{c.type}}
                                        </td>
                                        <td>
                                            <span class="btn btn-primary" ng-click="editer_categorie(c)"><i class="fa fa-edit"></i></span>
                                            <span class="btn btn-primary" ng-click="supprimer_categorie(c)"><i class="fa fa-times"></i></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <form class="col-lg-6 col-sm-6" style="margin-top: 20px">
                        <h4>Ajoutr / Editer une catégorie</h4>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-5 col-sm-5 col-md-5">
                                    <label>
                                        <ff translate>Intitulé de la catégorie</ff>
                                        <span class="requis">*</span></label>
                                </div>
                                <div class="col-lg-7 col-sm-7 col-md-7">
                                    <input type="text" id="" ng-model="categorie.intitule"
                                           placeholder="{{'Intitulé de la catégorie'|translate}}" class="form-control"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-5 col-sm-5 col-md-5">
                                    <label translate>Type </label>
                                </div>
                                <div class="col-lg-7 col-sm-7 col-md-7">
                                    <select ng-model="categorie.type" class="form-control"
                                            ng-options="t.nom as t.nom for t in types|orderBy:'-nom':true"
                                    >
                                        <option value="" disabled>
                                            <ff translate>Sélectionnez le type</ff>
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="text-right end">
                                <button class="btn btn-primary" translate ng-click="enregistrer_categorie()">Enregistrer</button>
                            </div>
                        </div>
                    </form>

                    <div class="clearfix"></div>

                    <hr/>

                </div>

            </div>

        </div>

    </div>
</div>