<div class="container" id="rapport">
    <form style="margin-bottom: 20px">
        <div>
            <!--Premiere partie : description de l'événement-->
            <div class="row" style="margin-top: 25px;">
                <div class="col-lg-12 col-sm-12 col-md-12 " style="border-bottom: 1px solid #c0a261; padding: 0">
                    <h2 style="text-align: center"><span class="number main"></span>
                        <ff translate>Rapport de visite en clientèle</ff>
                    </h2>
                </div>
                <div class="clear-fix"></div>
                <div class="row" ng-repeat="v in ventes">
                    <div class="col-lg-6 col-sm-6" style="margin-top: 20px">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-5 col-sm-5 col-md-5">
                                    <label>
                                        <ff translate>Client</ff>
                                        <span class="requis">*</span></label>
                                </div>
                                <div class="col-lg-7 col-sm-7 col-md-7">
                                    <angucomplete id="e"
                                                  placeholder="Sélectionner le client"
                                                  pause="10"
                                                  selectedobject="v.client_id"
                                                  localdata="clients"
                                                  searchfields="nom"
                                                  titlefield="nom"
                                                  minlength="1"
                                                  inputclass="form-control form-control-small"></angucomplete>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-5 col-sm-5 col-md-5">
                                    <label for="vente" translate>Personne rencontrée / numéro </label>
                                </div>
                                <div class="col-lg-7 col-sm-7 col-md-7">
                                    <input type="text" id="vente" ng-model="v.personne" 
                                           placeholder="{{'Nom et numéro de téléphone'|translate}}" class="form-control"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-5 col-sm-5 col-md-5">
                                    <label for="raison" translate>Raison de la visite </label>
                                </div>
                                <div class="col-lg-7 col-sm-7 col-md-7">
                                    <input type="text" id="raison" ng-model="v.raison" 
                                           placeholder="{{'Raison de la visite'|translate}}" class="form-control"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-5 col-sm-5 col-md-5">
                                    <label for="info" translate>Information sur le prospect </label>
                                </div>
                                <div class="col-lg-7 col-sm-7 col-md-7">
                                    <input type="text" id="info" ng-model="v.prospect" 
                                           placeholder="{{'Information sur le prospect'|translate}}" class="form-control"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-5 col-sm-5 col-md-5">
                                    <label for="oppo" translate>Opportiunités </label>
                                </div>
                                <div class="col-lg-7 col-sm-7 col-md-7">
                                    <input type="text" id="oppo" ng-model="v.opportunite" 
                                           placeholder="{{'Opportunités'|translate}}" class="form-control"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-5 col-sm-5 col-md-5">
                                    <label for="prop" translate>Propositions</label>
                                </div>
                                <div class="col-lg-7 col-sm-7 col-md-7">
                                    <input type="text" id="prop" ng-model="v.proposition" 
                                           placeholder="{{'Propositions'|translate}}" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6" style="margin-top: 20px">
                        <div class="form-group">
                            <label translate>Produits livrés
                                <span class="requis">*</span></label>
                            <div class="row-fluid">
                                <table class="table table-condensed">
                                    <tbody>
                                    <tr ng-repeat="p in v.produits">
                                        <td class="col-lg-6 col-sm-6 col-md-6">
                                            <angucomplete id="ex"
                                                          placeholder="Sélectionner le produit"
                                                          pause="10"
                                                          selectedobject="p.produit_id"
                                                          localdata="produits"
                                                          searchfields="libelle"
                                                          titlefield="libelle"
                                                          minlength="1"
                                                          inputclass="form-control form-control-small"></angucomplete>
                                        </td>
                                        <td class="col-lg-6 col-sm-6 col-md-6 hide">
                                            <select ng-model="p.produit_id" class="form-control"
                                                    ng-options="p.id as p.libelle for p in produits|orderBy:'-libelle':true"
                                                    >
                                                <option value="" disabled>
                                                    <ff translate>Sélectionnez le produit</ff>
                                                </option>
                                            </select>
                                        </td>
                                        <td class="col-lg-3 col-sm-3 col-md-3">
                                            <input type="number" min="0" ng-model="p.quantite" 
                                                   placeholder="{{'Quantite'|translate}}" class="form-control"/>
                                        </td>
                                        <td class="col-lg-3 col-sm-3 col-md-3">
                                            <span class="btn btn-primary" ng-click="ajouter_produit(v)"><i class="fa fa-plus"></i></span>
                                            <span class="btn btn-primary" ng-click="supprimer_produit(v,p)"><i class="fa fa-times"></i></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate>Besoins du client </label>
                            <div class="row-fluid">
                                <table class="table table-condensed">
                                    <tbody>
                                    <tr ng-repeat="p in v.besoins">
                                        <td class="col-lg-6 col-sm-6 col-md-6">
                                            <angucomplete id="ex1"
                                                          placeholder="Sélectionner le produit"
                                                          pause="10"
                                                          selectedobject="p.produit_id"
                                                          localdata="produits"
                                                          searchfields="libelle"
                                                          titlefield="libelle"
                                                          minlength="1"
                                                          inputclass="form-control form-control-small"></angucomplete>
                                        </td>
                                        <td class="col-lg-6 col-sm-6 col-md-6 hide">
                                            <select ng-model="p.produit_id" class="form-control"
                                                    ng-options="p.id as p.libelle for p in produits|orderBy:'-libelle':true"
                                                    >
                                                <option value="" disabled>
                                                    <ff translate>Sélectionnez le produit</ff>
                                                </option>
                                            </select>
                                        </td>
                                        <td class="col-lg-3 col-sm-3 col-md-3">
                                            <input type="number" min="0" ng-model="p.quantite" 
                                                   placeholder="{{'Quantite'|translate}}" class="form-control"/>
                                        </td>
                                        <td class="col-lg-3 col-sm-3 col-md-3">
                                            <span class="btn btn-primary" ng-click="ajouter_besoin(v)"><i class="fa fa-plus"></i></span>
                                            <span class="btn btn-primary" ng-click="supprimer_besoin(v,p)"><i class="fa fa-times"></i></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-md-12" ng-if="ventes.length>1">
                        <div class="text-right">
                            <a class="btn btn-main btn-reverse" translate ng-click="supprimer_visite(v)">Supprimer la visite</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <hr/>

                </div>

            </div>

        </div>

        <!--{{ventes}}-->

        <!--<hr/>-->
        <div class="text-center end" ng-if="id==undefined">
            <h2 translate class="hide">Beau travail ! Nous vous remercions.</h2>
            <a class="btn btn-main btn-reverse" translate ng-click="ajouter_visite()">Ajouter une visite</a>
            <button class="btn btn-primary" translate ng-click="enregistrer_visite()">Enregistrer</button>
        </div>
        <div class="text-center end" ng-if="id!=undefined">
            <h1 translate>Modification terminée.</h1>
            <button class="btn btn-main btn-green" translate ng-click="edit_event()">Enregistrer</button>
        </div>
    </form>
</div>