@font-face {
  font-family: 'hanford';
  src: url("../css/fonts/HANFORD_.TTF");
}
/* line 10, ../sass/bvs.scss */
body {
  background: url("../images/fond.png") no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 12px;
}

/* line 17, ../sass/bvs.scss */
.footer {
  position: fixed;
  bottom: 100px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: transparent;
  z-index: 0;
}
/* line 26, ../sass/bvs.scss */
.footer img {
  z-index: 0 !important;
  width: 170px;
}

/* line 33, ../sass/bvs.scss */
a {
  color: #c0a261;
}

/* line 37, ../sass/bvs.scss */
.requis {
  color: #f00;
}

/* line 41, ../sass/bvs.scss */
.form-signin {
  color: #fff;
  max-width: 299px;
  padding: 10px 10px 29px;
  margin: 18% auto 20px;
  background-color: #0202024d;
  border: 1px solid #c0a261;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 55, ../sass/bvs.scss */
.form-signin .btn {
  width: 100%;
}

/* line 61, ../sass/bvs.scss */
.blog-masthead {
  background-color: #c0a261;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* line 67, ../sass/bvs.scss */
.navbar-nav > li > a {
  padding: 10px 10px 10px 0px !important;
}

/* line 71, ../sass/bvs.scss */
.blog-nav-item {
  padding: 10px;
}

/* line 75, ../sass/bvs.scss */
.blog-nav-item, .navbar-nav > li > a {
  position: relative;
  display: inline-block;
  font-weight: 500;
  color: #000;
}
/* line 81, ../sass/bvs.scss */
.blog-nav-item :hover, .blog-nav-item :focus, .navbar-nav > li > a :hover, .navbar-nav > li > a :focus {
  color: #fff !important;
  text-decoration: none !important;
  background: transparent;
}

/* line 88, ../sass/bvs.scss */
a.blog-nav-item:hover, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  color: #fff;
  text-decoration: none;
  background: transparent;
}

/* line 94, ../sass/bvs.scss */
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  color: #fff;
  text-decoration: none;
  background: transparent;
}

/* line 100, ../sass/bvs.scss */
.dropdown-menu {
  background: #000;
  border: 1px solid #c0a261;
  color: #fff;
}
/* line 105, ../sass/bvs.scss */
.dropdown-menu .divider {
  background: #c0a261;
}
/* line 110, ../sass/bvs.scss */
.dropdown-menu li > a {
  color: #fff;
}
/* line 112, ../sass/bvs.scss */
.dropdown-menu li > a:hover {
  background: #c0a261;
}

/* line 119, ../sass/bvs.scss */
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

/* line 135, ../sass/bvs.scss */
.btn-main.btn-reverse {
  color: #c0a261;
  background: #000;
  border: 1px solid #c0a261;
  border-radius: 3px;
}

/* line 142, ../sass/bvs.scss */
.btn-primary {
  background: #A18554;
  border-color: #c0a261;
}
/* line 146, ../sass/bvs.scss */
.btn-primary:hover, .btn-primary:focus {
  background: #000 !important;
  border-color: #c0a261;
}

/* line 152, ../sass/bvs.scss */
.message {
  color: #f00;
}

/* line 163, ../sass/bvs.scss */
form label {
  margin-bottom: 0 !important;
}
/* line 167, ../sass/bvs.scss */
form .form-group {
  margin-bottom: 3px;
}
/* line 171, ../sass/bvs.scss */
form .table {
  margin-bottom: 5px;
}

/* line 176, ../sass/bvs.scss */
.highcharts-button {
  display: none !important;
}

/* line 180, ../sass/bvs.scss */
hr {
  margin-bottom: 10px;
  margin-top: 20px;
  width: 50%;
  color: #c0a261;
  background: #c0a261;
  border-color: #c0a261;
}

/* line 190, ../sass/bvs.scss */
.logo img {
  position: fixed;
  top: -12px;
  width: 150px;
}

/* line 197, ../sass/bvs.scss */
.slogan {
  font-family: "hanford","Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
  font-size: 25px;
}
/* line 201, ../sass/bvs.scss */
.slogan:hover, .slogan:focus {
  color: black !important;
  cursor: default;
}
/* line 206, ../sass/bvs.scss */
.slogan.blog-nav-item {
  padding: 0;
}

/* line 216, ../sass/bvs.scss */
.form-control-feedback {
  margin-top: 6px;
  height: 23px;
  color: #bbb;
  line-height: 24px;
  font-size: 15px;
}
/* line 223, ../sass/bvs.scss */
.form-control-feedback.right {
  border-left: 1px solid #ccc;
  right: 13px;
}

/* line 230, ../sass/bvs.scss */
span.right {
  float: right;
  font-size: 14px !important;
}

/* line 235, ../sass/bvs.scss */
.control-label {
  text-align: center;
  margin-bottom: 0;
  padding-top: 7px;
}

/* line 242, ../sass/bvs.scss */
.panel {
  background: black;
  border-color: #c0a261;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* line 251, ../sass/bvs.scss */
.panel.panel-primary .panel-heading {
  background: #c0a261;
  border-color: #A18554;
}
/* line 257, ../sass/bvs.scss */
.panel .panel-heading {
  padding: 0 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* line 263, ../sass/bvs.scss */
.panel .panel-heading h3 {
  margin: 0 5px;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  padding: 5px 0px;
  height: inherit;
}
/* line 274, ../sass/bvs.scss */
.panel .panel-body {
  padding: 7px 5px;
}
/* line 278, ../sass/bvs.scss */
.panel .panel-body .col-xs-3, .panel .panel-body .col-sm-3, .panel .panel-body .col-md-3 {
  padding-right: 5px;
}
/* line 281, ../sass/bvs.scss */
.panel .panel-body .col-xs-9, .panel .panel-body .col-sm-9, .panel .panel-body .col-md-9 {
  padding-left: 1px;
}
/* line 286, ../sass/bvs.scss */
.panel .list-group {
  margin-bottom: 5px;
}
/* line 289, ../sass/bvs.scss */
.panel .list-group li.list-group-item {
  border-radius: 0;
  font-weight: bold;
  border: none;
  background: transparent;
}
/* line 294, ../sass/bvs.scss */
.panel .list-group li.list-group-item .badge {
  background: black;
  color: #fff;
}
/* line 298, ../sass/bvs.scss */
.panel .list-group li.list-group-item:first-child {
  background: #A18554;
}
/* line 300, ../sass/bvs.scss */
.panel .list-group li.list-group-item:first-child .badge {
  color: #fff;
}

/* line 309, ../sass/bvs.scss */
a.link {
  color: #fff;
  text-decoration: underline;
}

/* line 315, ../sass/bvs.scss */
label {
  cursor: pointer;
}

/* line 320, ../sass/bvs.scss */
.profil label.with-square-checkbox {
  cursor: pointer;
}
/* line 322, ../sass/bvs.scss */
.profil label.with-square-checkbox span {
  line-height: 24px;
}
/* line 324, ../sass/bvs.scss */
.profil label.with-square-checkbox span::before {
  margin-right: 4px;
  padding-left: 1px;
  width: 21px;
  height: 21px;
  border: 2px solid grey;
  display: inline-block;
  line-height: 15px;
  content: '';
  float: left;
}
/* line 336, ../sass/bvs.scss */
.profil label.with-square-checkbox input[type="checkbox"] {
  display: none;
}
/* line 338, ../sass/bvs.scss */
.profil label.with-square-checkbox input[type="checkbox"]:checked + span::before {
  font-family: 'Glyphicons Halflings';
  content: '\e013';
  color: #c0a261;
}
/* line 346, ../sass/bvs.scss */
.profil main {
  width: 300px;
  margin: 8px auto;
}
/* line 351, ../sass/bvs.scss */
.profil li {
  list-style-type: none;
}

/* line 356, ../sass/bvs.scss */
th {
  color: #c0a261;
}

/* line 360, ../sass/bvs.scss */
td {
  font-weight: bold;
}

/* line 365, ../sass/bvs.scss */
.highcharts-credits {
  display: none;
}

/* line 369, ../sass/bvs.scss */
.highcharts-title {
  font-size: 18px !important;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  text-transform: none !important;
}

/* line 377, ../sass/bvs.scss */
.ca {
  font-size: 21px;
  color: #c0a261;
  padding-bottom: 20px;
  text-align: right;
  font-weight: bold;
}

/* line 386, ../sass/bvs.scss */
#rapport th {
  color: black;
  font-weight: bold;
}
/* line 390, ../sass/bvs.scss */
#rapport td {
  font-weight: normal;
}

/* line 395, ../sass/bvs.scss */
table tr td .btn {
  padding: 2px 7px;
}

/* line 399, ../sass/bvs.scss */
.pagination > li > a, .pagination > li > span {
  background: #c0a261;
  color: white;
  border-color: #A18554;
}

/* line 405, ../sass/bvs.scss */
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  background: #000;
  color: #fff;
  border-color: #c0a261;
}

/* line 411, ../sass/bvs.scss */
.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
  background: #c0a261;
  color: white;
  border-color: #A18554;
}

/* line 422, ../sass/bvs.scss */
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background: #000;
  color: #A18554;
  border-color: #A18554;
}

/* line 434, ../sass/bvs.scss */
._720kb-datepicker-calendar-day._720kb-datepicker-today {
  background: red;
  color: white;
}

/* line 439, ../sass/bvs.scss */
._720kb-datepicker-calendar-header:nth-child(2n+1) {
  background: #A18554;
}

/* line 443, ../sass/bvs.scss */
#footer.stikybottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 451, ../sass/bvs.scss */
.modal .modal-content {
  background: rgba(10, 10, 11, 0.73);
  border: 4px solid #c0a261;
}
/* line 456, ../sass/bvs.scss */
.modal .modal-header {
  border-color: #c0a261;
}
/* line 459, ../sass/bvs.scss */
.modal .modal-header h4 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
/* line 466, ../sass/bvs.scss */
.modal .modal-footer {
  border-color: #c0a261;
}
/* line 470, ../sass/bvs.scss */
.modal textarea {
  resize: vertical;
}
