@font-face {
  font-family: 'hanford';
  src: url("../css/fonts/HANFORD_.TTF");
}
/* line 9, ../sass/bvs.scss */
body {
  background: url("../images/fond.png") no-repeat;
  background-size: cover;
  color: #fff;
}

/* line 15, ../sass/bvs.scss */
.footer {
  position: fixed;
  bottom: 100px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: transparent;
  z-index: 0;
}
/* line 24, ../sass/bvs.scss */
.footer img {
  z-index: 0 !important;
  width: 170px;
}

/* line 31, ../sass/bvs.scss */
a {
  color: #c0a261;
}

/* line 35, ../sass/bvs.scss */
.requis {
  color: #f00;
}

/* line 39, ../sass/bvs.scss */
.form-signin {
  color: #fff;
  max-width: 299px;
  padding: 10px 10px 29px;
  margin: 70px auto 20px;
  background-color: #0202024d;
  border: 1px solid #c0a261;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 53, ../sass/bvs.scss */
.form-signin .btn {
  width: 100%;
}

/* line 59, ../sass/bvs.scss */
.blog-masthead {
  background-color: #c0a261;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* line 65, ../sass/bvs.scss */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #000;
}
/* line 72, ../sass/bvs.scss */
.blog-nav-item :hover, .blog-nav-item :focus {
  color: #fff !important;
  text-decoration: none !important;
}

/* line 78, ../sass/bvs.scss */
a.blog-nav-item:hover {
  color: #fff;
  text-decoration: none;
}

/* line 83, ../sass/bvs.scss */
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

/* line 99, ../sass/bvs.scss */
.btn-main.btn-reverse {
  color: #c0a261;
  background: #000;
  border: 1px solid #c0a261;
  border-radius: 3px;
}

/* line 106, ../sass/bvs.scss */
.btn-primary {
  background: #A18554;
  border-color: #c0a261;
}
/* line 110, ../sass/bvs.scss */
.btn-primary:hover, .btn-primary:focus {
  background: #000 !important;
  border-color: #c0a261;
}

/* line 119, ../sass/bvs.scss */
form label {
  margin-bottom: 0 !important;
}
/* line 123, ../sass/bvs.scss */
form .form-group {
  margin-bottom: 3px;
}
/* line 127, ../sass/bvs.scss */
form .table {
  margin-bottom: 5px;
}

/* line 132, ../sass/bvs.scss */
hr {
  margin-bottom: 10px;
  margin-top: 20px;
  width: 50%;
  color: #c0a261;
  background: #c0a261;
  border-color: #c0a261;
}

/* line 142, ../sass/bvs.scss */
.logo img {
  position: fixed;
  top: -12px;
  width: 150px;
}

/* line 149, ../sass/bvs.scss */
.slogan {
  font-family: "hanford","Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
  font-size: 25px;
}
/* line 153, ../sass/bvs.scss */
.slogan:hover, .slogan:focus {
  color: black !important;
  cursor: default;
}
/* line 158, ../sass/bvs.scss */
.slogan.blog-nav-item {
  padding: 0;
}

/* line 168, ../sass/bvs.scss */
.form-control-feedback {
  margin-top: 6px;
  height: 23px;
  color: #bbb;
  line-height: 24px;
  font-size: 15px;
}
/* line 175, ../sass/bvs.scss */
.form-control-feedback.right {
  border-left: 1px solid #ccc;
  right: 13px;
}

/* line 182, ../sass/bvs.scss */
span.right {
  float: right;
  font-size: 14px !important;
}

/* line 187, ../sass/bvs.scss */
.control-label {
  text-align: center;
  margin-bottom: 0;
  padding-top: 7px;
}

/* line 194, ../sass/bvs.scss */
.panel {
  background: black;
  border-color: #c0a261;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* line 203, ../sass/bvs.scss */
.panel.panel-primary .panel-heading {
  background: #c0a261;
  border-color: #A18554;
}
/* line 209, ../sass/bvs.scss */
.panel .panel-heading {
  padding: 0 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* line 215, ../sass/bvs.scss */
.panel .panel-heading h3 {
  margin: 0 5px;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  padding: 5px 0px;
  height: inherit;
}
/* line 226, ../sass/bvs.scss */
.panel .panel-body {
  padding: 7px 5px;
}
/* line 230, ../sass/bvs.scss */
.panel .panel-body .col-xs-3, .panel .panel-body .col-sm-3, .panel .panel-body .col-md-3 {
  padding-right: 5px;
}
/* line 233, ../sass/bvs.scss */
.panel .panel-body .col-xs-9, .panel .panel-body .col-sm-9, .panel .panel-body .col-md-9 {
  padding-left: 1px;
}
/* line 238, ../sass/bvs.scss */
.panel .list-group {
  margin-bottom: 5px;
}
/* line 241, ../sass/bvs.scss */
.panel .list-group li.list-group-item {
  border-radius: 0;
  font-weight: bold;
  border: none;
  background: transparent;
}
/* line 246, ../sass/bvs.scss */
.panel .list-group li.list-group-item .badge {
  background: black;
  color: #fff;
}
/* line 250, ../sass/bvs.scss */
.panel .list-group li.list-group-item:first-child {
  background: #A18554;
}
/* line 252, ../sass/bvs.scss */
.panel .list-group li.list-group-item:first-child .badge {
  color: #fff;
}
