<div class="container">
    <form class="form-signin" ng-submit="login()">
        <h2 class="text-center" translate>Authentification</h2>
        <h4 class="text-center hide"><a href="" ui-sref="register" translate>Ou créez un compte</a>.</h4>
        <div class="form-group">
            <input type="email" class="form-control" ng-model="auth.email" placeholder="{{'Adresse email'|translate}}"
                   required/>
        </div>
        <div class="form-group">
            <input type="password" ng-model="auth.password" placeholder="{{'Mot de passe'|translate}}"
                   class="form-control"/>
        </div>
        <div class="form-group text-center message">
            {{message}}
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-main btn-green" translate> Connectez-vous</button>
        </div>
        <div class="hide" style="margin-top: 15px;text-align: center">
            <a href="" ui-sref="forgot" translate>Mot de passe oublié?</a>
        </div>

        <div class="" style="margin-top: 25px; font-size: 10px;text-align: center">
            By Edward NANDA
        </div>
    </form>

</div>