Meilleur vente par categorie

Consommation par client carraouseul

bilan journée

<div class="container home">
    <!--Premiere partie : description de l'événement-->
    <div class="row" style="margin-top: 25px;">
        <div class="col-lg-12 col-sm-12 col-md-12 " style="border-bottom: 1px solid #c0a261; padding: 0">
            <h2 style="text-align: center"><span class="number main"></span>
                <ff translate>Bilan du {{current|date:'dd.MM.yyyy'}}</ff>
            </h2>
        </div>
        <div class="clear-fix"></div>

    </div>

        <div class="row" style="margin-top: 20px">
        <div class="col-lg-3" >
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3><i class="fa fa-filter"></i> Filtre</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <div class="row-fluid">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Date</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <input class="form-control" ng-model="deb" type="text">
                                    <span class="fa fa-calendar form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row-fluid">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Date</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <input class="form-control" ng-model="fin" type="text">
                                    <span class="fa fa-calendar form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row-fluid">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">
                                    <span class="fa fa-user form-control-feedback right"
                                          style="color: #fff; border: none;"
                                          aria-hidden="true"></span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-9" ng-hide="user.profil.rapport==1 && user.profil.utilisateur==0">
                                    <select name="" ng-model="vendeur" class="form-control"
                                            ng-options="v.id as v.nom for v in vendeurs | orderBy:'-nom':true"
                                            >
                                        <option value="">Vendeur</option>
                                    </select>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9" ng-hide="user.profil.rapport==0 || user.profil.utilisateur==1">
                                    <select name="" ng-model="vendeur" disabled class="form-control"
                                            ng-options="v.id as v.nom for v in vendeurs | orderBy:'-nom':true"
                                            >
                                        <option value="">Vendeur</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                           <div class="row-fluid" style="padding-top: 6px;padding-bottom: 6px;">
                               <div class="col-md-9 col-sm-9 col-xs-9 pull-right text-right">
                                   <button class="btn btn-primary" ng-click="filtrer(vendeur,deb,fin)">
                                       <i class="fa fa-refresh"></i> Actualiser </button>
                               </div>
                           </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3><i class="fa fa-star"></i> Les plus vendus</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group prime">
                        <li ng-repeat="v in meilleur_vente" class="list-group-item">
                            {{v.libelle | limitTo:20}}
                            <span class="badge">{{v.quantite}}</span>
                        </li>
                    </ul>
                    <div class=" text-center" ng-if="meilleur_vente.length>0">
                        <a class="link" href="">
                            Voir plus
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3><i class="fa fa-star"></i> Les plus demandés</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group prime">
                        <li ng-repeat="v in meilleur_besoin" class="list-group-item">
                            {{v.libelle | limitTo:20}}
                            <span class="badge">{{v.quantite}}</span>
                        </li>
                    </ul>
                    <div class=" text-center" ng-if="meilleur_besoin.length>0">
                        <a class="link" href="">
                            Voir plus
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3><i class="fa fa-user"></i> Meilleurs clients</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group prime">
                        <li ng-repeat="c in meilleur_client" class="list-group-item">
                            {{c.nom | limitTo:20}}
                            <span class="badge">{{c.somme}} Fcfa</span>
                        </li>
                    </ul>
                    <div class=" text-center" ng-if="meilleur_client.length>0">
                        <a class="link" href="">
                            Voir plus
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3><i class="fa fa-file"></i> Rapports clientèles</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li ng-repeat="v in visites|orderBy:'updated_at':true|limitTo:10" class="list-group-item "
                            style="cursor: pointer"
                            ui-sref="detail_rapport({id:v.id_visite})">
                            {{v.nom}}
                            <span class="badge">{{}}</span>
                        </li>
                    </ul>
                    <div class=" text-center" ng-if="visites.length>0">
                        <a class="link" href="">
                            Voir plus
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3><i class="fa fa-line-chart"></i> Evolution des Ventes</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 hide">
                            <div class="row-fluid">
                                <div class="col-lg-5 col-sm-5 col-md-5">
                                    <label translate>Famille </label>
                                </div>
                                <div class="col-lg-7 col-sm-7 col-md-7">
                                    <select ng-model="famille" class="form-control"
                                            ng-options="f.value as f.name for f in familles|orderBy:'-name':true"
                                            >
                                        <option value="" disabled>
                                            <ff translate>Sélectionnez la famille</ff>
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="row-fluid">
                                <div class="col-lg-6 col-sm-6 col-md-6">
                                    <select ng-model="categorie" class="form-control"
                                            style="width: 75%;display: inline"
                                            ng-options="c.id as c.intitule for c in categories|orderBy:'-intitule':true"
                                            >
                                        <option value="" disabled>
                                            <ff translate>Sélectionnez la catégorie</ff>
                                        </option>
                                    </select>
                                    <div class="btn btn-primary" ng-click="bilan()"><i class="fa fa-refresh"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div id="area">

                    </div>
                </div>
            </div>

            <div class="panel panel-primary hide">
                <div class="panel-heading">
                    <h3><i class="fa fa-line-chart"></i> Evolution des Besoins</h3>
                </div>
                <div class="panel-body">
                    <div id="area-besoin">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>