meilleur client,

meilleur produit,

Consommation par client carraouseul

bilan journée

<div class="container home">
    <!--Premiere partie : description de l'événement-->
    <div class="row" style="margin-top: 25px;">
        <div class="col-lg-12 col-sm-12 col-md-12 " style="border-bottom: 1px solid #c0a261; padding: 0">
            <h2 style="text-align: center"><span class="number main"></span>
                <ff translate>Bilan du {{date}}</ff>
            </h2>
        </div>
        <div class="clear-fix"></div>

    </div>

    <div class="row hide">
        <form class="form-inline">
            <div class="form-group">
                <label for="email">Du</label>
                <input type="text" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="pwd">Au</label>
                <input type="text" class="form-control" id="pwd">
            </div>
            <div class="checkbox hide">
                <label><input type="checkbox"> Remember me</label>
            </div>
            <button type="submit" class="btn btn-default">Filter</button>
        </form>
    </div>

    <div class="row" style="margin-top: 20px">
        <div class="col-lg-3" >
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>Période</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <div class="row-fluid">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Du</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <input class="form-control" type="text">
                                    <span class="fa fa-calendar form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row-fluid">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Au</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <input class="form-control" type="text">
                                    <span class="fa fa-calendar form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                           <div class="row-fluid" style="padding-top: 6px;padding-bottom: 6px;">
                               <div class="col-md-9 col-sm-9 col-xs-9 pull-right text-right">
                                   <div class="btn btn-primary">Filtrer</div>
                               </div>
                           </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3><i class="fa fa-star"></i> Les plus vendus</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            CHIVAS
                            <span class="badge">1050</span>
                        </li>
                        <li class="list-group-item">
                            MUMM
                            <span class="badge">50</span>
                        </li>
                        <li class="list-group-item">
                            VERY BY
                            <span class="badge">50</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3><i class="fa fa-star"></i> Les plus demandés</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            SCAPA
                            <span class="badge">100</span>
                        </li>
                        <li class="list-group-item">
                            PERRIET JOUET
                            <span class="badge">50</span>
                        </li>
                        <li class="list-group-item">
                            ORANGINA
                            <span class="badge">50</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3><i class="fa fa-user"></i> Meilleurs clients</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Edward NANDA
                            <span class="badge">10 050 100 Fcfa</span>
                        </li>
                        <li class="list-group-item">
                            François BINAM
                            <span class="badge">500 000 Fcfa</span>
                        </li>
                        <li class="list-group-item">
                            Mellena EKOBE
                            <span class="badge">480 000 Fcfa</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3><i class="fa fa-user"></i> Meilleurs clients</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Edward NANDA
                            <span class="badge">10 050 100 Fcfa</span>
                        </li>
                        <li class="list-group-item">
                            François BINAM
                            <span class="badge">500 000 Fcfa</span>
                        </li>
                        <li class="list-group-item">
                            Mellena EKOBE
                            <span class="badge">480 000 Fcfa</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>